.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  color: whitesmoke;
  background-color: #282c34;
  min-height: 100vh;
  min-width: 100vw;
  align-items: center;
}

#p {
  text-align: left;
}